<form class="form-signin">
     <h2 class="form-signin-heading">Пожалуйста авторизуйтесь</h2>
     <label for="inputEmail" class="sr-only">Логин</label>
        <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Введите логин" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Введите пароль" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> запомнить меня
          </label>
        </div>
	<button class="btn btn-lg btn-primary btn-block" (click)="validateLogin();" type="button">Войти</button>
</form>
