<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <button #addPost type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Добавить
                </button>
            </li>
            <li class="nav-item">
                 <button (click)="logout()" type="button" class="btn btn-link">
                  Выйти
                </button>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Блог</h3>
</header>

<main role="main">

    <app-show-post></app-show-post>
    <app-add-post></app-add-post>

</main>

